<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Net.Http" version="2.0.20126.16343" targetFramework="net462" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net462" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net462" />
  <package id="StackExchange.Redis" version="1.1.603" targetFramework="net462" />
</packages>